.contacts-box {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 575px;
    background: #FFF;
}
.contacts-container {
    display: flex;
    margin: 40px 20px;
    width: 1400px;
    height: 414px;
    background: #FFF;
}
.first-line {
    display: inline;
    width: 285px;
    height: 40px;
}
.contacts-text-bold {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize; 
}
.contacts-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize; 
}
.contacts-map {
    margin-left: 189px;
    width: 696px;
    height: 414px; 
    background: url(../img/img/map.png), lightgray 50% / cover no-repeat;
}
