body {
    width: 1440px;
    height: 100%;
    display: block;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Forum', cursive;
}
.container {
    height: 100%;
    background: #fff;
}
